{% extends 'DoctorPortal/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'Doctor/profile.css' %}">

<div class="profile-card fade-in">
    <img src="{{ doctor.profile_photo.url }}" class="profile-img">
    
    <div class="profile-info">
        <h2>Dr. {{ doctor.name }}</h2>
        <p><b>Specialization:</b> {{ doctor.specialization }}</p>
        <p><b>Experience:</b> {{ doctor.experience }} years</p>
        <p><b>Contact:</b> {{ doctor.contact_number }}</p>
    </div>
</div>
{% endblock %}
